{% extends 'base.html' %}
<html>
<head>
    <title>COURSE PAGE</title>
</head>
<body>
{% block content %}
    <style>
    table{
        width: 100%;
        text-align: center;
    }
    td,th{
        padding-top: 6px;
        padding-bottom: 6px;
    }
    tbody:nth-of-type(odd){
        background-color: darkgray;
        color: black;
    }
    thead:nth-of-type(even){
        background-color: gray;
        color: black;
    }
    body{
        background-color: cornsilk;
    }
    </style>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        {% csrf_token %}
            {% if courses %}
              <center><h1>Available Courses Are...</h1></center>
                 <table border="2px">
                     <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Course Duration</th>
                            <th>Course Fees</th>
                            <th>Start Date</th>
                            <th>Start Time</th>
                            <th>Trainer Name</th>
                            <th>Trainer Exp</th>
                        </tr>
                     </thead>
                 {% for i in courses %}
                     <tbody>
                        <tr>
                            <td>{{ i.course_id }}</td>
                            <td>{{ i.course_name }}</td>
                            <td>{{ i.course_dur}}</td>
                            <td>{{ i.course_fee}}</td>
                            <td>{{ i.start_date}}</td>
                            <td>{{ i.start_time}}</td>
                            <td>{{ i.trainer_name}}</td>
                            <td>{{ i.trainer_exp}}</td>
                        </tr>
                     </tbody>
                 {% endfor %}

                 </table>
            {% else %}
            <h1>No Courses Are Available</h1>
            {% endif %}

        </div>

    </div>

    </div>
{%endblock %}

</body>
</html>